<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoren.auth.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.daoren.auth.entity.User">
        <result column="id" property="id"/>
        <result column="sys_create_time" property="sysCreateTime"/>
        <result column="sys_create_user" property="sysCreateUser"/>
        <result column="sys_update_time" property="sysUpdateTime"/>
        <result column="sys_update_user" property="sysUpdateUser"/>
        <result column="sys_delete_time" property="sysDeleteTime"/>
        <result column="sys_delete_user" property="sysDeleteUser"/>
        <result column="sys_enable" property="sysEnable"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        sys_create_time,
        sys_create_user,
        sys_update_time,
        sys_update_user,
        sys_delete_time,
        sys_delete_user,
        sys_enable,
        user_name, pass_word, nick_name
    </sql>

    <select id="findAllPermissions" resultType="java.lang.String">
        select distinct sp.code
        from sys_user_role sur
                 inner join sys_role_permission srp on sur.role_id = srp.role_id
                 inner join sys_permission sp on srp.permission_id = sp.id
        where user_id = #{userId};
    </select>
</mapper>