<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daoren.mybatis.dao.TestMapper">

    <select id="getUuid" resultType="java.lang.String">
        select uuid()
        from dual;
    </select>
</mapper>